body {
    background-color: black;
    background-image: radial-gradient(#444 1px, transparent 1px);
    background-size: 20px 20px;
}

header{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    height: auto;
    width: 40%;
    margin: 2% auto 0 auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: oklch(62.7% 0.194 149.214);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 3px 20px oklch(62.7% 0.194 149.214);
}

#titulo_cabecalho{
    font-family: Arial, Helvetica, sans-serif;
    font-size:40px;
}

#txt_login{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.login_user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    height: auto;
    width: 40%;
    margin: 0 auto;
    background-color: black;;
    font-size: 2px;
    color: white;
    box-shadow: 0 3px 20px oklch(62.7% 0.194 149.214);
}

#titulo_login{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#form_login {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Labels */
#form_login label {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0 5px;
    margin-left: 20px;
    color: #ccc;
    font-size: 15px;
    text-align: left;
}

/* Caixa do input */
.input-box {
    background: #1c1c1c;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #333;
    width: 90%;
    margin: 0 auto;
}

/* Input */
.input-box input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
}

/* Efeito ao clicar */
.input-box:focus-within {
    border: 1px solid oklch(62.7% 0.194 149.214);
    box-shadow: 0 0 8px oklch(62.7% 0.194 149.214);
}

#botao_entrar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    width: 50%;
    display: block;
    margin: 20px auto;
}